footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: $color-grey;
    //background-color: $color-bgd-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-grey;
    .copyright {
        font-family: 'Dr Sugiyama', cursive;
        color: $color-dark-blue;
        //color: $color-font-dark;
        font-size: 28px;
    }
    .social-media {
        text-align: center;
        margin-left: 8%;
        a {
            display: inline-block; 
            margin: 0 10px;
            &:focus {
                outline: none;
                i {
                color: $color-font-light;
                transform: scale(1);
                }
            }
        }
        a::-moz-focus-inner {
            border: 0;
        }
        i {
            color: $color-dark-blue;
            transform: scale(0.8);
            transition: all .3s;
            &:hover {
                color: $color-light-blue;
                transform: scale(1);
            }
        }
    }
    .contact {
        margin-right: 8%;
        a:focus {
                outline: none;
                i {
                color: $color-font-light;
                transform: scale(1);
                }
            }
        i {
            color: $color-dark-blue;
            transform: scale(0.8);
            transition: all .3s;
            &:hover {
                color: $color-light-blue;
                transform: scale(1);
            }
        }
    }   
}


/* DARK MODE */
.dark footer {
    background-color: $color-dark-grey;
}
