.container {
    position: relative;
}

.skiptocontent {
    position: absolute;
    top: -200px;
    left: 20vw;
    width: 150px;
    background-color: brown;
    color: white;
    padding: 5px;
    outline: solid 2px brown;
    transition : top 1s ease-out;
    z-index: 10;
    &:focus {
        top: -85px;
    }
}

.topbar {
    background: $color-grey;
    border-bottom: 1px solid $color-grey;
    a {
        color: $color-font-light;
        font-weight: bold;
    }
    .topbar_logo {
        display: block;
        text-align: center;
        color: $color-font-light;
        .logo1 {
            font-family: 'Dr Sugiyama', cursive;
            font-size: 3rem;
            line-height: 54px;
        }
        .logo2 {
            text-transform: uppercase;
            font-family: 'Poiret One', cursive;
            font-size: 1.5rem;
            line-height: 0.8rem;
        }
    }
}

/******* DARK MODE ********/
.dark .topbar {
    background-color: $color-grey;
    .topbar_burger, .topbar_cross, a {
        color: $color-font-light;
    }
}

/******* MOBILE *******/

@media only screen and (max-width: 630px) {
    .skiptocontent:focus {
        top: 15px;
        left: 15vw;
    }
    .topbar {
        height: 68px;
        position: relative;
        .topbar-nav {
            display: none;
        }
        .toggle {
            position: absolute;
            left: 20px;
            top: 20px;
        }
        .topbar_logo {
            display: block;
            text-align: center;
            .logo1 {
                font-size: 2.5rem;
                line-height: 46px;
            }
            .logo2 {
                font-size: 1.3rem;
                line-height: 0.8rem;
            }
        }
        .topbar_burger {
            display: block;
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            line-height: 45px;
            padding: 10px 20px 0px 15px;
            color: $color-dark-blue;
            border: 0;
            font-size: 1.4em;
            font-weight: bold;
            cursor: pointer;
            outline: none;
        }
        .topbar_cross {
            display: none;
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 20px 0px 15px;
            color: $color-dark-blue;
            border: 0;
            font-size: 1.4em;
            line-height: 45px;
            font-weight: bold;
            cursor: pointer;
            outline: none;
        }
        button:focus {
            outline: none;
            color: $color-font-light;
        }
    }
    
    .topbar.responsive {
        .topbar-nav {
            font-family: 'Julius Sans One', sans-serif;
            font-weight: bold; 
            font-size: 0.8em; 
            width: 100%; 
            background-color: $color-bgd-light;
            position: absolute;
            top: 64px; 
            text-align: center; 
            z-index: 10;
            a {
                display: block;
                color: $color-font-dark;
                text-transform: uppercase;
                padding: 15px 0 15px 0;
                border-bottom: #dddddd 1px solid;
            }
            a:hover {
                background: $color-light-grey;
            }
            a.topbar-nav_active {
                color: $color-font-light;
                background-color: $color-grey;
            }
            a:focus {
                outline: none;
                background-color: $color-light-grey;
                color: $color-font-dark;
            }
        }
    }

}


/******* TABLET AND DESKTOP *******/

@media only screen and (min-width: 630px) {
    
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        .topbar-nav {
            text-align: center;
            display: block !important;
            a {
                display: inline-block;
                text-transform: uppercase;
                font-family: 'Julius Sans One', sans-serif;
                margin: 0 10px;
                padding: 10px;
                transition: all .3s;
                border-bottom: solid 4px transparent;
            }
        }
        .topbar-nav a:hover,
        .topbar-nav a.topbar-nav_active {
            background-color: $color-light-grey;
            color: $color-font-dark;
        }
        .topbar-nav a.topbar-nav_active {
            border-bottom: solid 4px $color-grey;
            &:focus {
                border-bottom: solid 4px $color-dark-blue;
            }
        }
        .topbar-nav a:hover {
            border-bottom: transparent;
        }
        .topbar-nav a:focus {
            outline: none;
            border-bottom: solid 4px $color-bgd-light;
        }
        .topbar_burger,
        .topbar_cross {
            display: none !important;
        }
        .topbar_logo {
            margin-left: 8%;
        }
        .toggle {
            margin-right: 8%;  
        }  
    }

    /* DARK MODE */
    .dark .topbar {
        .topbar-nav a:hover,
        .topbar-nav a.topbar-nav_active {
            background-color: $color-light-grey;
            color:$color-font-dark;
        }
    }
    
}
