.portfolio-title {
    text-align: center;
    margin-top: 110px;
    font-weight: normal;
    @media only screen and (max-width: 630px) {
        margin-top: 10px;
    }
}

/******* TABLET AND DESKTOP *******/

@media only screen and (min-width: 630px) {

.portfolio {
    display: flex;
    min-width: 600px;
    max-width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc((100vh - 544px - 66px)/2);
    margin-bottom: calc((100vh - 544px - 66px)/2);
    padding: 0 1rem;
    .image {
        min-width: 60px;
        margin: 10px;
        cursor: pointer;
        transition: .5s ease;
        overflow: hidden;
        position: relative;
        &.image_active {
            flex-grow: 100;
            max-width: 600px;
            margin: 0;
            border-radius: 7px;
            background-size: auto 100%;
            cursor: default;
        }
        &:not(.image_active) {
            flex-grow: 1;
            border-radius: 5px;
        }
        .text-container {
            width: 100%;
            height: 400px;
            padding: 2rem;
            visibility: hidden;
            transform: translateY(300px);
            opacity: 0;
            transition: all .4s ease;
            background: linear-gradient(354deg, rgb(19, 18, 18) 0%, transparent 72%);   
            overflow: hidden;
        }
        a {
            color: $color-font-light;
            transition: .4s ease;
            &:hover {
                color: $color-light-blue;
            }
            /*&:focus {
                color: $color-light-blue;
                font-size: 20px;
            }*/
        }
        .text {
            position: absolute;   
            bottom: 1rem;
        }
        h3 {
            font-family: 'Julius Sans One', sans-serif;
        }
        p {
            max-width: 100%;
            margin: 16px 0;
            font-family: 'Raleway', sans-serif;
        }
    }
    .image_active .text-container {
        visibility: visible;
        transform: translateY(0px);
        opacity: 1;
    }
}
}

/******* MOBILE *******/

@media only screen and (max-width: 630px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .image {
            position: relative;
            cursor: pointer;
            height: 150px;
            width: 90%;
            margin: 10px auto;
            border-radius: 5px;
            .text-container {
                position: relative;
                width: 100%;
                height: 100%;
                background: linear-gradient(354deg, rgb(19, 18, 18) 0%, transparent 72%);
                overflow: hidden;
            }
            a {
                color: $color-font-light;
                &:focus {
                    font-weight: 600;
                    font-size: 20px;
                } 
            }
            .text {
                position: absolute;
                bottom: 10px;
                margin: 10px;
            }
            h3 {
                font-family: 'Julius Sans One', sans-serif;
            }
            p {
                max-width: 100%;
                margin-top: 16px;
                font-family: 'Raleway', sans-serif;
            }
        }
        .image_active .text-container {
            visibility: visible;
            transform: translateY(0px);
            opacity: 1;
        }
    }
}




