.toggle {
    .checkbox {
        display: none;
    }
    .label {
        height: 27px;
        width: 60px;
        background-color: $color-dark-blue;
        padding: 5px 8px;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position:relative;
        .ball {
            background-color: $color-light-blue;
            border-radius: 50%;
            height: 21px;
            width: 21px;
            position: absolute;
            top: 3px;
            left: 5px;
            transform: translateX(0px);
            transition: transform .4s ease;
        }
    }
    //.checkbox:checked + .label .ball {
        //transform: translateX(29px);
    //}
}

/******* DARK MODE *******/
.toggle.night .ball {
    transform: translateX(29px);
    transition: transform 0s ease;
}

.dark .checkbox:checked + .label .ball {
    transform: translateX(29px);
    transition: transform .4s ease;
}