* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-bgd-light;
    color: $color-font-dark;
    h1, h2 {
        font-family: 'Julius Sans One', sans-serif;
    }
    a {
        color: $color-font-dark;
        text-decoration: none;
    }
    p {
        line-height: 1.5;
    }
}


/* DARK MODE */
.dark {
    background-color: $color-bgd-dark;
    .portfolio-title, .title {
    color: $color-font-light;
    }
}
