* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-bgd-light;
    color: $color-font-dark;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
}

a {
    color: $color-font-dark;
    text-decoration: none;
}

/* DARK MODE */
.dark {
    background-color: $color-bgd-dark;
    /* DARK MODE */
    .portfolio-title {
    color: $color-font-light;
}
}
