$color-bgd-light: #fff;
$color-bgd-dark: #000;
$color-dark-grey: #323b40;
$color-grey: rgb(25,39,52);
$color-light-grey: #c6ced2;
$color-dark-blue: #0096a1;
$color-light-blue: #0ebac7;
$color-font-light: #fff;
$color-font-dark: #000;